@function color($color, $opacity) {
  @if $opacity != 100 {
    @return rgba($color, #{$opacity}\%);
  }

  @return $color;
}

/*Gray color swatch*/
$color-gray-900: #111827;
$color-gray-800: #1f2937;
$color-gray-700: #374151;
$color-gray-600: #4b5563;
$color-gray-500: #6b7280;
$color-gray-400: #9ca3af;
$color-gray-300: #d1d5db;
$color-gray-200: #e5e7eb;
$color-gray-100: #f3f4f6;

/*Stackable brand color swatch*/
$color-stackable-blue-light: #1880bd;
$color-stackable-blue-dark: #0b689f;

$color-white: #ffffff;
