extra/completions/* linguist-generated
crate-hashes.json linguist-generated
extra/man/* linguist-generated
Cargo.nix linguist-generated
nix/** linguist-generated
go.sum linguist-generated
gomod2nix.toml linguist-generated
