@import '@/scss/colors';

.input-search {
  position: relative;

  :global(.icon) {
    position: absolute;
    inset: 0 auto 0 0;
    display: flex;
    align-items: center;
    padding: 0 0 0 12px;

    @include theme('text-input') {
      color: t('icon');
    }

    svg {
      height: 16px;
      width: 16px;
    }
  }

  input {
    padding: 10px 12px 10px 40px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    border: none;

    @include theme('text-input') {
      background-color: t('bg');
      color: t('text');
    }

    &::placeholder {
      line-height: 16px;

      @include theme('text-input') {
        color: t('placeholder');
      }
    }
  }
}
